# Node / pnpm
node_modules/
.pnpm-store/
dist/
.build/
*.tsbuildinfo

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Expo
.expo/
.expo-shared/

# Prisma
prisma/dev.db
prisma/*.journal

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
