:root {
    --primary-color: #41315f;
    --secondary-color: #64b76b;
    --light-bg: #ffffff;
    --dark-bg: #1e1e2f;
    --light-text: #000000;
    --dark-text: #ffffff;

    --font-primary: "Inter", sans-serif;
    --font-secondary: "DM Serif Text", serif;
}
