body {
    background-color: var(--light-bg);
    color: var(--light-text);
    font-family: var(--font-primary);
}

html.dark body {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

html.light body {
    background-color: var(--light-bg);
    color: var(--light-text);
}

a {
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
